name: C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile C++ 2017
        run: make
  metrics:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: software metrics (cccc)
        uses: sarnold/cccc-action@0.3